@{
    ViewBag.Title = "Home Page";
}

<div class="wl-team">
    <p calss="wl-img">
        <img src="~/Image/wl-to-team4.jpg" />
    </p>



    <div class="und_text">
        <p class="und_text">
            In 2021, admission to the master's degree on the basis of a bachelor's degree in both public
            procurement and at the expense of individuals and / or legal entities is carried out with the
            mandatory passing of the Unified entrance exam in a foreign language (EMI), conducted by technology ZNO.
            Registration for the EMI will be held from May 11 to
            June 3, 2021 (offline: Rivne, S. Bandera St., 12, office № 8; online: pk@rshu.edu.ua).
            The main session of the EMI is scheduled for June 30, 2021.

        </p>
    </div>

    <div class="card mb-3 wl-img">
        <img src="~/Image/tuke-s.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>








    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@